@import "var.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100vh;
    width: 100vw;
    color: white;
    overflow: hidden;
}
/*html, body{min-height:100%;}*/
body{
    width: 100%;
    height: 100%;
}
/**************************************************************************/
main{
    height: 100%;
    overflow: scroll;
    width: 100%;
    display: flex;
    flex-direction: row;
    /*
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;*/
}

main nav{
    background-color: var(--dark-blue-grey);
    height: 100vh;
    width: 20%;
    top: 0;
    position: sticky;
    box-sizing: border-box;
    overflow: hidden;
}
.title{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 0 5% 0;
    h3{
        text-align: center;
        font-family: Roboto, sans-serif;
        color:var(--neutral-grey);
        font-size: 24px;
    }
}
main nav #menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
}

main nav #menu li {
    height: calc(100% / 15);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Mulish, sans-serif;
    font-size: 18px;
    color: var(--neutral-grey);
    cursor: pointer;
    transition: .3s ease all;
}

main nav #menu li:hover {
    background-color: var(--light-grey-hover);
}
main nav #menu li .image{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main nav #menu li .link{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

main nav #menu li .link a{
    text-decoration: none;
    color: var(--neutral-grey);
}
main nav #menu li:hover .link a{
    color: var(--light-grey-blue);
}

main nav #menu li:hover .image{
    border-left: var(--light-grey-blue) 5px solid;
}

main nav #menu li:nth-child(9){
    border-top: #9FA2B4 1px solid;
}

main nav #menu li .image i {
    width: 24px;
    height: 24px;
}
/**************************************************************************/
.statistics{
    background-image: url("/assets/icons/not_select/statistics.svg");
}

.suggests{
    background-image: url("/assets/icons/not_select/suggests.svg");
}

.travelers{
    background-image: url("/assets/icons/not_select/travelers.svg");
}

.prestations{
    background-image: url("/assets/icons/not_select/prestations.svg");
}

.prestations-companies{
    background-image: url("/assets/icons/not_select/prestations-companies.svg");
}
.providers{
    background-image: url("/assets/icons/not_select/providers.svg");
}

.supports{
    background-image: url("/assets/icons/not_select/supports.svg");
}
.permissions{
    background-image: url("/assets/icons/not_select/permissions.svg");
}
.settings{
    background-image: url("/assets/icons/not_select/settings.svg");
}
.home{
    background-image: url("/assets/icons/not_select/home.svg");
}

/**************************************************************************/
main nav #menu li:hover .image i.statistics{
    background-image: url("/assets/icons/select/statistics.svg");
}

main nav #menu li:hover .image i.suggests{
    background-image: url("/assets/icons/select/suggests.svg");
}

main nav #menu li:hover .image i.travelers{
    background-image: url("/assets/icons/select/travelers.svg");
}

main nav #menu li:hover .image i.prestations{
    background-image: url("/assets/icons/select/prestations.svg");
}

main nav #menu li:hover .image i.prestations-companies{
    background-image: url("/assets/icons/select/prestations-companies.svg");
}

main nav #menu li:hover .image i.providers{
    background-image: url("/assets/icons/select/providers.svg");
}

main nav #menu li:hover .image i.supports{
    background-image: url("/assets/icons/select/supports.svg");
}

main nav #menu li:hover .image i.permissions{
    background-image: url("/assets/icons/select/permissions.svg");
}

main nav #menu li:hover .image i.settings{
    background-image: url("/assets/icons/select/settings.svg");
}

main nav #menu li:hover .image i.home{
    background-image: url("/assets/icons/select/home.svg");
}

/**************************************************************************/

main .main_content{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 80%;
    height: 160%;
    background-color: white;
    margin-bottom: 10px;
}

main .main_content .header{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}
main .main_content .header h2{
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: var(--primary-color);
}

main .main_content .header .user{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
main .main_content .header .user img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
main .main_content .header .user p{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--dark-blue-grey);
}




