@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel:wght@100;300;400;500;700&display=swap');


:root {
    --primary-color:#FF9843;
    --secondary-color:#FFDD95;
    --opposite-color:#3468C0;
    --opposite-color-secondary:#86A7FC;

    --action-color-good:#81DB73;
    --action-color-bad:#D48383;
    --action-color-neutral:#CDCDCD;

    --ultra-light-grey:#F4F7FA;
    --meduim-blue-grey:#B8C1D2;
    --dark-blue-grey:#161C2D;
    --light-yellow-grey:rgba(255, 221, 149, 0.16);
    --meduim-yellow-grey:#D9D2CD;
    --neutral-grey:#A4A6B3;
    --light-grey:#DFE0EB;
    --light-grey-blue:#DDE2FF;
    --grey:#9FA2B4;
    --light-grey-hover: rgba(159,162,180,.1);

    --white:#FDFDFF;
}
